/* ==========================================================================
   Main Styles
   ========================================================================== */

/* typography styles for the body */
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* enable smooth scrolling */
html {
    scroll-behavior: smooth;
}
  
/* take wrapper class, make it height of screen to emulate parallax */
.wrapper {
    /* height is exact size of screen */
    height: 100vh;
    /* will scroll in y direction in case of overflow */
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-color: rgb(35, 35, 35);
}

/* --------------------------------------------------------------------------
   Artificial loading screen styles
   -------------------------------------------------------------------------- */

/* styles for the loading bar */
.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
  }
  
/* This is honestly just a fake loading bar for the looks */
.loader {
    width: 10%; /* 10% width of the screen */
    height: 5px; /* Height of the loading bar */
    background-color: #727272;
    border-radius: 10px; /* add a rounded edge */
}

/* loading bar style */
.loader::before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: #414346; /* Color of the loading progress */
    animation: loading .5s ease-in-out infinite;
    border-radius: 10px; /* match rounded edge of .loader */
  }
  
  /* Keyframes for loading animation */
  @keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

.hidden {
    display: none;
}

/* --------------------------------------------------------------------------
   Header Styles
   -------------------------------------------------------------------------- */

/* header section styles */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* take up full height of screen */
    height: 100vh;
    transform-style: preserve-3d;
    /* elements in header show up behind (z axis is towards you) or else it wll overlap text */
    z-index: -1;
}

/* media query for font flexability on smaller devices (mobile) */
@media (max-width: 768px) {
    .title {
        font-size: 2rem;        /* font size for smaller screens */
    }
}

/* Media query for even smaller screens */
@media (max-width: 576px) {
    .title {
        font-size: 1.5rem; /* Adjust the font size for even smaller screens */
    }
}

/* main title styles */
.title {
    font-size: 3rem;
    /* transform: translateZ(2px); */
    color: rgb(216, 215, 215);
    text-shadow: 0 0 5px black;
}

/* animation for sliding up effect */
@keyframes slideUpAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    70% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* title animation class */
.title-slide-up {
    animation: slideUpAnimation 2s ease-in-out;
}

/* background image styles */
.background {
    /* Existing styles */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
    transform: translateZ(-4px) scale(1.7);
    filter: blur(5px);
    z-index: -1; /* Place the background image behind other content */
    overflow: hidden;
}

/* gradient overlay for fade of background image */
.background::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    /* gradient for bottom fade */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(35, 35, 35, 1)); 
    pointer-events: none; /* Allow interactions with elements beneath */
}

/* cursor animation styles */
.cursor-animation {
    opacity: 1;
    animation: blink 0.7s infinite;
}

/* cursor animation blink effect */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* forground title text styles */
.foreground {
    font-size: x-large;
    color: #939393;
    margin-top: 110vh;
    transform: translateZ(-1px) scale(1);
    width: 100%;       /* Set the width to 100% of the container */
    max-width: 100vw;  /* Limit the maximum width to the viewport width */
    height: auto;      /* Maintain the aspect ratio */
    text-shadow: 0 0 5px black;
}

/* foreground and background combined styles */
.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100vw;
    /* object-fit: cover; */
    z-index: -1;
}

/* style modfiications for scroll buttons */
.button-section {
    margin-left: 50px;
}

/* style modifications for individual scroll buttons */
.btn {
    margin-left: 1px;
    color: #333333;
    background-color: #F5F5F5;
    border: none;
}

/* color of the highlight over scroll buttons */
.btn:hover,
.btn:focus {
    background-color: #555555;
    color: white;
    border: none;
}

.about-text-title {
    margin-left: 10%;
    margin-bottom: 20px;
    color: rgb(162, 162, 162);
}

.about-text {
    text-align: left;
    font-size: x-large;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

.gallery-text-title {
    text-align: center;
    /* margin-left: 150px; */
    margin-bottom: 20px;
    color: rgb(162, 162, 162);
}

.projects-text-title {
    margin-left: 10px;
    margin-bottom: 30px;
    color: rgb(162, 162, 162);
}

.container-fluid {
    background-color: #333;
    text-align: left;
    font-size: x-large;
    color: white;
}

.container {
    background-color: #333;
    text-align: left;
    font-size: x-large;
    color: white;
}

/* styles for image in "About" section */
.self-image {
    margin-left: 13%;
    margin-bottom: -50px;
    max-width: 700px;
    max-height: 700px;
    height: -100px;
    /* transform: translateZ(10px); */
}

/* custom scroll bar */
/* Hide the default scrollbar */
.image-container-row::-webkit-scrollbar {
    width: 0.5rem; /* Set the width of the scrollbar */
}

.image-container-row::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Add rounded corners to the thumb */
}

/* scrollbar color on hover */
.image-container-row::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* scrollbar track */
.image-container-row::-webkit-scrollbar-track {
    /* hide scrollbar track */
    background-color: transparent;
}

.image-section {
    position: relative; /* Add relative positioning */
    padding: 4rem 0;
    overflow: auto; /* Hide any overflowing content */

    /* modify scroll bar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* styles for the row of images */
.image-container-row {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

/* styles for each image container individually */
.image-container {
    margin-right: 10px;
    flex: 0 0 auto;
    position: relative; /* Add relative positioning */
    min-width: 300px;
}

.image-container img {
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 3s, transform 3s;
}


/* hover effect for the caption */
.image-container:hover .caption {
    opacity: 1;
}

/* dimension styles for each individual image */
.image {
    width: 300px;
    height: auto;
}

/* image caption styles */
.caption {
    margin: 0; 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* Reset margin for the caption */ 
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    color: azure;
    font-size: 14px;
    transition: opacity 0.3s;
}

/* Adjust the size of the images for smaller screens */
@media (max-width: 576px) {
    .image-container {
        margin-right: 5px; /* Adjust the margin for smaller spacing */
    }

    .animated-image {
        max-width: 100%; /* Set maximum width to 100% */
        height: auto;    /* Auto-adjust height to maintain aspect ratio */
        width: auto;     /* Reset the width property */
    }
}

.animated-image {
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateX(-100px);
    /* opacity is how long it takes to fade in, transform is the animation */
    transition: opacity 3s, transform 3s;
}

.section {
    /* modify font sizes */
    font-size: 3.0rem;
    /* adjust */
    padding: 2rem 0;
}

.card {
    background-color: transparent;
    border: none;
}

/* styles for list contents to appear side-by-side */
.feature-list li {
    display: inline-block;
    width: 48%; /* Adjust the width as needed */
    margin: 5px;
    padding-left: 20px;
    position: relative;
}

/* bullet point list items */
.feature-list li::before {
    /* unicode bullet point */
    content: "\2022";
    position: absolute;
    left: 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .feature-list li {
      width: 100%; /* Full width on smaller screens */
    }
} 

.contact-container {
    background-color: rgb(203, 203, 203);
    text-align: center;
    font-size: large;
    color: #333;
}

.contact-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.contact-icon {
    margin-right: 4px;
    width: 30px;
    height: 30px;
}

/* --------------------------------------------------------------------------
   Footer Styles
   -------------------------------------------------------------------------- */

.copyright-footer {
    margin-left: 10%;
    text-align: left;
    color: rgb(148, 148, 148);
}

/* Custom font imported from Google */
.custom-font {
    font-family: 'Cutive Mono', monospace;
}

.quote-container {
    text-align: center;
    font-size: large;
    color: white;
}

/* ============================= EOF styles.css ============================= */
